@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
    box-sizing: border-box;
}

main {
    font-family: "Muli", sans-serif;
    overflow: hidden;
    margin: 0;
}
.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow:  0 10px 20px rgba(0, 0, 0, 0.1),  0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    text-align: center;
    width: 450px;
    margin: 10% auto;
}
label {
    display:block;
    margin: 1rem 0;
    text-align: left;
    border: 1;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
    font-weight: 550;
    font-size: large;
}
input{
    visibility: hidden;
}